/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:500');

:root {
    /* Colors */
    --main-color: #FFFFFF;
    --secondary-color: #046A38;
    --tertiary-color: #DA291C;
    --text-color: #373B5C;
    --background-color: #F2F6FA;

    /* Values */
    --border-radius: 16px;
}

body, html, .app-wrapper{
    margin: 0;
    height: 100%;
    font-family: 'Poppins';
    overflow: hidden;
}

button:hover {
    cursor: pointer;
}

p {
    font-size: 14px;
    font-weight: 300;
}

h2 {
    font-weight: 600;
}